<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Posthost</h1>
  <div></div>

 <% 
    for (let post of posts) { %>
  <div class="post">
    <h3 class="user"><%= "@" + post.username %></h3>
    <h4 class="content"><%=  post.content %></h4>
    <button onclick="location.href='/posts/<%= post.id %>'">View Details</button>
    <button onclick="location.href='/posts/<%= post.id %>/edit'">Edit</button>
    <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
  </div>
<% } %>

<button onclick="location.href='/posts/new'"> Create A New Post </button>

</body>
</html>
